<div class="about">
    <div class="bg">
        <img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="/">
    </div>
    <div class="text">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed quis delectus possimus magni.</p>
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptates minima, nobis dolorum sint atque. Molestiae.</small>
        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, incidunt, maxime quas iste dolore optio accusamus ipsum repudiandae neque dicta aliquam sequi consequuntur, quidem at reiciendis? Quos, dolorem.</small>
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magnam rerum, saepe itaque facilis ratione quisquam, possimus cumque rem consequatur quod voluptates! Sunt, delectus? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio aliquam magnam alias laborum, officia odit?</small>
    </div>
</div>
