<div class="team">
    <div class="banner">
        <h3>Teamwork <span>+</span> creativity</h3>
    </div>
    <div class="info">
        <h2>Our team</h2>
        <small>
            Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Voluptatum repellat autem 
             earum aut recusandae est! Lorem, ipsum dolor sit 
             amet consectetur adipisicing elit. Tempora, atque.
        </small>
    </div>
    <div class="team-grid">

        <div id="vertical">
            <div class="img-wrapper">
                <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Morris">
            </div>
            <div class="user-info" >
                <h4>Simon Burrel</h4> 
                <p>Senior Engineer</p>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Soluta autem, dicta perspiciatis libero dolor reprehenderit dignissimos.
                </small>
            </div>
        </div>

        <div id="top" >
            <div class="user-info">
                <h4>Nelly Maasai</h4> 
                <p>Senior DevOps</p>
                <small>onsectetur adipisicing elit. Unde, beatae at!Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Soluta autem, dicta perspiciatis libero.
                </small>
            </div>
            <div class="img-wrapper">
                <img src="https://images.pexels.com/photos/6497118/pexels-photo-6497118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="DevOps">
            </div>
        </div>      
        
        <!-- <div id="middle" >
            <div class="user-info">
                <h4>Nelly Maasai</h4> 
                <p>Senior DevOps</p>
                <small>onsectetur adipisicing elit. Unde, beatae at!Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Soluta autem, dicta perspiciatis libero dolor reprehenderit dignissimos.
                </small>
            </div>
            <div class="img-wrapper">
                <img src="https://images.pexels.com/photos/6497118/pexels-photo-6497118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="DevOps">
            </div>
        </div>    -->
    </div>
</div>