<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Helapay</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" aria-current="page" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">About us</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">Services</a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">Our Team</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">Contact Us</a>
          </li>        
        </ul>      
      </div>
    </div>
  </nav>
