<div class="home">
    <div class="img">
        <img src='./../../../assets/undraw.svg' alt="icon">
    </div>
    <div class="info">
        <h4><span>helapay</span>, pay your way out of tricky situations</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ducimus culpa ex molestiae nobis quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in vitae quia?</p>
        <div>
            <button class="btn">learn more</button>
        </div>
    </div>
</div>
